.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  height: 50px;
  width: 0;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: width 0.5s, opacity 0.5s;
  background-color: #ee4444;
  padding-right: 40px;
  color: #fff;
}

.input-search-visible {
  width: 170px;
  opacity: 1;
  padding-right: 40px;
  
}

.input-search-hidden {
  width: 0;
  opacity: 0;
  padding-right: 0;
}

.input-search::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}

.btn-search {
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  z-index: 9999;
  pointer-events: auto; 
  top: 30%;

}

.btn-search:focus ~ .input-search,
.input-search:focus {
  opacity: 1;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  transition: all 500ms cubic-bezier(0, 0.1, 0.35, 2);
}

@media (max-width: 768px) {
  .btn-search:focus ~ .input-search,
  .input-search:focus {
    width: 170px;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    transition: all 500ms cubic-bezier(0, 0.1, 0.35, 2);
  }
}

  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loading-overlay > * {
    z-index: 1;
  }
  
.poopup-continer{
    position: fixed;
    /* top: 50%; */
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    box-shadow: 40px 10px 4px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 9999;
    width: 80vw;
    height: 25vh;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border: 5px solid #ef4444;
    margin-top: 350px;
}

  

  .errormsg{
    z-index: 9999;
  } 
  @media (min-width: 768px) {
    .modal-content {
      max-width: 500px; 
      margin: 0 auto; 
    }
  }
  .sidebar {
    background-color: #f1f1f1;
    width: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    position: absolute;
    right: 1%;
    top: 11%;
  }
  
  .filter-button {
    width: 100%;
    padding: 8px;
    background-color: #ee4444;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 16px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modal-close-button {
    margin-top: 20px;
    padding: 8px;
    background-color: #ee4444;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
  }
  .banggood-container {
    position: relative;
  }
  
  .loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Make sure it appears above other content */
  }